<html>
<title>
Make a game
</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

  <div class="w3-black" id="make a game">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Make a game</h2>
      <p class="w3-opacity w3-center"><i>Set your terms!</i></p><br>

      <ul class="w3-ul w3-border w3-white w3-text-grey">
        <li class="w3-padding">When <input type="text" class="form-control"></li>
        <li class="w3-padding">Where <input type="text" class="form-control"></li>
        <li class="w3-padding">Age below <input type="number" class="form-control">></li>
      </ul>

</body>
</body>
</html>
