<html>
<title>
Sign up
</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<body class="asdf">
<div class="container-fluid text-center">

	<div class="page-header">
		<h1>
		 <font>SIGN UP</font> 	
		</h1>
		
		<h3><em><font color="boldblack"></font> <em></h3>
	</div>
		<div class="form-group">
		
			<input type="text" name='name' class="form-control" placeholder="Full Name" >
		</div>
		<br>

		<div class="form-group">
			<input type="date" name="date_of_birth" placeholder="Your Birthday" class="form-control">
		</div>

		<br>

		<div class="form-group">
			<input type="text" name="email" class="form-control" placeholder="Email" >
		</div>
		<br>
		<div class="form-group">
			<input type="password" name="password_hash" class="form-control" placeholder="Password" >
		</div>
		<br>

		<button type="submit" class="btn btn-default">Submit</button>
</div>

</body>
</body>
</html>
